<!doctype html>
<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/light.min.css') }}">
<!-- <link rel="stylesheet" type="text/css" href="/static/css/local.css"> -->
<title>{{ title }}</title>
<style>
article {margin:2rem 0;}
</style>
</head>
<body>

<h1 id="title">{{ title }}</h1>

<p id="description">{{ description }}</p>

<time id="created">Created {{ created }}</time>

<p><img id="depiction" src="{{ depiction }}"></p>


<h2 id="classes">nClasses</h2>
<hr>

{% for class in newclasses %}


{% endfor %}

<h2 id="classes">Classes</h2>
<hr>

{{ classes }}



<h2 id="properties">Object properties</h2>
<hr>
{{ properties }}

<h2 id="namespaces">Namespaces</h2>
<hr>

{% for namespace in namespaces %}

<p class="namespace"><strong>{{ namespace.0 }}</strong> {{ namespace.1 }}</p>

{% endfor %}


<h2 id="foaf"><abbr>FOAF</abbr></h2>
<hr>

<ul>
{% for maker in makers %}

<li>{{ maker.name|e }}
        {% if maker.homepage|e != "None" %}
        &mdash; <a href="{{ maker.homepage|e }}">{{ maker.homepage|e }}</a>
        
        {% endif %}</li> 

    {% endfor %}
    </ul>

<p id="copyright">&copy; {{ rights|e }}</p>

<p id="url">Source: <a href="{{ ttlurl }}">{{ ttlurl|e }}</a></p>
</body>
</html>
