<!doctype html>
<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
<title>{{ title }}</title>
<style>
article {margin: 2rem auto;}
</style>
</head>
<body>
<header>

<h1 id="title">{{ title }}</h1>

<p id="description">{{ description }}</p>

<time id="created">Created {{ created }}</time>

<p id="depiction"><img src="{{ depiction }}"></p>

</header>
<main>

<h2 id="classes">Classes</h2>
<hr>

{{ classes }}

<h2 id="properties">Object properties</h2>
<hr>
{{ properties }}

<h2 id="namespaces">Namespaces</h2>
<hr>
{{ namespaces }}

</main>
<footer>

<h2 id="foaf"><abbr>FOAF</abbr></h2>
<hr>

<ul>
{% for maker in makers %}

<li>{{ maker.name|e }}
        {% if maker.homepage|e != "None" %}
        <a href="{{ maker.homepage|e }}">{{ maker.homepage|e }}</a>
        
        {% endif %}</li> 

    {% endfor %}
    </ul>

<p id="copyright">&copy; {{ rights }}</p>

<p id="url">Source: <a href="{{ ttlurl }}">{{ ttlurl }}</a></p></footer>
</body>
</html>
