<!doctype html>
<html lang="en-GB">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
<title>{{ title }}</title>
<style>
article {margin: 2rem auto;}
</style>
</head>
<body>
<header>

<h1 id="title">{{ title }}</h1>

<p>{{ description }}</p>

{{ makers }}
</header>
<main>


<h2 id="classes">Classes</h2>
<hr>
{{ classes }}

<h2 id="properties">Object properties</h2>
<hr>
{{ properties }}

<h2 id="namespaces">Namespaces</h2>
<hr>
{{ namespaces }}

</main>
<footer>{{ ttlurl }}</footer>
</body>
</html>
